
  .clock-container{
  
    font-size:35px;
    /*line-height:25px;*/
    color:white;
    height:100%;
    font-weight: 500;
  
  
  }
 .clock2 {
    top:30%;
    background-color: #3c434c;
    width:50%;
    height:100%;
    margin:10px auto;
    padding:30px;
  }
  .clock div, .clock2 div {
    display:inline-block;
    background-color: #202731;
    width:25%;
    height: 100%;
    text-align: center;
    font-family: monospace;
  }
  .clock2 {
    background-color: #cdd5dc;
  }
  .time{
    width:100% !important;
  }
  :host{
    font-family: Orbitron;
  }
  